<!DOCTYPE html>
<html lang="en">

<head><%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/perfil.css">
</head>

<body>
  <%- include ('../partials/header') %>

    <main>
      <div class="perfil">
      <div class="foto-perfil">
        <img src="<%=user.profileImg%>" alt="avatar">
        <form action="/users/uploadProfileImage" method="POST" enctype="multipart/form-data">
          <input type="file" name="profileImage" accept="image/*">
          <button type="submit">Cambiar Foto</button>
        </form>
      </div>
        <br>
        <%= user.first_name + " " + user.last_name%>
          <br>
          <% if (user && user.admin) { %>
            <a href="/products/createProduct"><button class="boton-crear">Crear Producto</button></a>
            <% } %>
    </main>
    </div>

    <div class="datos-titulo">
      <p>TUS DATOS</p>
    </div>
    <div class="tus-datos">
      <p>Nombre de usuario: <%= userFromDB.username %>
      </p>
      <p>Correo electrónico: <%= userFromDB.email %>
      </p>
    </div>

    <div class="datos-titulo-datos">
      <p>¿Querés modificar tus datos?</p>
    </div>
    <div class="tus-datos">

      <form action="/users/<%= userFromDB.id %>/userProfile" method="POST">

        <label for="username">Nombre de usuario:</label>
        <input type="text" name="username" value="<%= userFromDB.username %>">

        <label for="email">Correo electrónico:</label>
        <input type="email" name="email" value="<%= userFromDB.email %>">
        <br>
        <div class="boton-guardar">
          <button type="submit">Guardar cambios</button>
        </div>
      </form>
    </div>




    <!--- Comienzo del footer-->
    <%- include ('../partials/footer')%>
</body>

</html>