<!DOCTYPE html>
<html lang="en">

<head><%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/perfil.css">
</head>

<body>
  <%- include ('../partials/header') %>

<main> 
  <div class="perfil">
    <div style="width: 300px;"> 
      <img  style = "width: 100%;" src= "<%=user.profileImg%>" alt="avatar">
    </div>
     <br>
  <%= user.first_name + " "+ user.last_name%>
   <br>
  <a href="/products/createProduct"><button class="boton-crear">Crear Producto</button></a>
  </main>
  </div>
    


    <!--- Comienzo del footer-->
    <%- include ('../partials/footer')%>
</body>

</html>