<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/productdetail.css">
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include ('../partials/header') %>

        <% product.forEach(producto=> { %>
            <div class="container-detalle">
                <div class="product">
                    <article class="filmaciones">
                        <img src="<%=producto.img %>" alt="MAVIC">
                        <h2>
                            <%= producto.name %>
                        </h2>
                        <p>
                            <%= producto.description %>
                        </p>
                        <h4 class="precio-products">$ <%= producto.price %>
                        </h4>
                        <button>Agregar al carrito</button>
                    </article>
                </div>
            </div>
                <% }) %>

                    <%- include ('../partials/footer')%>
</body>

</html>