<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/productdetail.css">
        <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include ('../partials/header') %>
        <% productsAccesorios.forEach(producto=> { %>
            <% if (producto.show !==false) { %>
                <a href="/products/<%= producto.id %>/productDetail/" class="a-product-detail">
                    <div class="container-detalle">
                        <div class="product">
                            <article class="filmaciones">
                                <img src="<%= producto.img %>" alt="<%= producto.name %>">
                                <h2>
                                    <%= producto.name %>
                                </h2>
                                <p>
                                    <%= producto.description %>
                                </p>
                                <h4 class="precio-products">$ <%= producto.price %>
                                </h4>
                                <button>Agregar al carrito</button>
                            </article>
                        </div>
                    </div>
                </a>
                <% } %>
                <% }) %>
                
                
                <div class="pagination">
                    
                    <% if (totalPages > 1) { %>
                      <span class="page-label">Páginas:</span>
                      <% for (let i = 1; i <= totalPages; i++) { %>
                        <a href="/products/productdetail-accesorios?page=<%= i %>" class="page-link<%= currentPage === i ? ' active' : '' %>"><%= i %></a>
                      <% } %>
                    <% } %>
                  </div>

                        

                        <%- include ('../partials/footer')%>
</body>

</html>